config/jei/searchColors.cfg
config/jei/worldSettings.cfg
config/quark_emotes
config/splash.properties
crash-reports/
journeymap/
local/
logs/
natives/
resourcepacks/
saves/

background.jpeg
config_new_temp.json
config.json
crafttweaker.log
options.txt
patchouli_data.json
usercache.json
usernamecache.json
