.mixin.out/
crash-reports/
backups/
cache/
downloads/
journeymap/
local/
logs/
minemenu/
mineraltracker/
!scripts/mods/
mputils/
!config/mputils/
saves/
screenshots/
resourcepacks/
natives/
dumps/

/.curseclient
/concheckrmd
/crafttweaker.log
/knownkeys.txt
/minecraftinstance.json
/options.txt
/usercache.json
/usernamecache.json
/patchouli_data.json
/.project
/config.json

*.log

config/InvTweaks.cfg
config/jei/worldSettings.cfg
config/ichunutil.cfg
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/splash.properties

config_new_temp.json

background.jpeg

config/multimob/modInformation/

ambience_music/music/
