.mixin.out/
ambience_music/music
crash-reports/
backups/
downloads/
journeymap/
local/client/
logs/
minemenu/
mods/
!scripts/mods/
mputils/
!config/mputils/
patchouli_books/
saves/
screenshots/
resourcepacks/

/.curseclient
/concheckrmd
/crafttweaker.log
/knownkeys.txt
/minecraftinstance.json
/options.txt
/usercache.json
/usernamecache.json
/patchouli_data.json
/.project

*.log

config/InvTweaks.cfg
config/jei/worldSettings.cfg
local/ftbutilities/backups.json
local/ftbutilities/backups.json
local/ftbutilities/players.txt
config/ichunutil.cfg
