# Configuration file

disableditems {
    B:"compositegear:composite_bow"=true
    B:"compositegear:composite_club"=true
    B:"compositegear:composite_dagger"=true
    B:"compositegear:composite_mace"=true
    B:"compositegear:composite_sword"=true
    B:"compositegear:reinforced_bow"=true

    #  [default: true]
    B:"deepmoblearning:glitch_infused_boots"=true

    #  [default: true]
    B:"deepmoblearning:glitch_infused_chestplate"=true

    #  [default: true]
    B:"deepmoblearning:glitch_infused_helmet"=true

    #  [default: true]
    B:"deepmoblearning:glitch_infused_leggings"=true

    #  [default: true]
    B:"deepmoblearning:glitch_infused_sword"=true

    #  [default: true]
    B:"endreborn:armour_boots_dragon"=true

    #  [default: true]
    B:"endreborn:armour_boots_obsidian"=true

    #  [default: true]
    B:"endreborn:armour_chestplate_dragon"=true

    #  [default: true]
    B:"endreborn:armour_chestplate_obsidian"=true

    #  [default: true]
    B:"endreborn:armour_helmet_dragon"=true

    #  [default: true]
    B:"endreborn:armour_helmet_helmet"=true

    #  [default: true]
    B:"endreborn:armour_leggings_dragon"=true

    #  [default: true]
    B:"endreborn:armour_leggings_obsidian"=true

    #  [default: true]
    B:"endreborn:ender_bow"=true

    #  [default: true]
    B:"endreborn:ender_sword"=true

    #  [default: true]
    B:"endreborn:entropy_wand"=true

    #  [default: true]
    B:"endreborn:tool_axe_endorium"=true

    #  [default: true]
    B:"endreborn:tool_axe_wolframium"=true

    #  [default: true]
    B:"endreborn:tool_hoe_endorium"=true

    #  [default: true]
    B:"endreborn:tool_hoe_wolframium"=true

    #  [default: true]
    B:"endreborn:tool_magnifier"=true

    #  [default: true]
    B:"endreborn:tool_pickaxe_endorium"=true

    #  [default: true]
    B:"endreborn:tool_pickaxe_wolframium"=true

    #  [default: true]
    B:"endreborn:tool_shovel_endorium"=true

    #  [default: true]
    B:"endreborn:tool_shovel_wolframium"=true

    #  [default: true]
    B:"endreborn:tool_sword_endorium"=true

    #  [default: true]
    B:"endreborn:tool_sword_wolframium"=true

    #  [default: true]
    B:"harvestcraft:hardenedleatherbootsitem"=true

    #  [default: true]
    B:"harvestcraft:hardenedleatherchestitem"=true

    #  [default: true]
    B:"harvestcraft:hardenedleatherhelmitem"=true

    #  [default: true]
    B:"harvestcraft:hardenedleatherleggingsitem"=true

    #  [default: true]
    B:"immersiveengineering:earmuffs"=true

    #  [default: true]
    B:"immersiveengineering:faraday_suit_chest"=true

    #  [default: true]
    B:"immersiveengineering:faraday_suit_feet"=true

    #  [default: true]
    B:"immersiveengineering:faraday_suit_head"=true

    #  [default: true]
    B:"immersiveengineering:faraday_suit_legs"=true

    #  [default: true]
    B:"immersiveengineering:hoe_steel"=true

    #  [default: true]
    B:"immersiveengineering:powerpack"=true

    #  [default: true]
    B:"immersiveengineering:steel_armor_chest"=true

    #  [default: true]
    B:"immersiveengineering:steel_armor_feet"=true

    #  [default: true]
    B:"immersiveengineering:steel_armor_head"=true

    #  [default: true]
    B:"immersiveengineering:steel_armor_legs"=true

    #  [default: true]
    B:"immersiveengineering:sword_steel"=true

    #  [default: true]
    B:"mekanism:armoredjetpack"=true

    #  [default: true]
    B:"mekanism:freerunners"=true

    #  [default: true]
    B:"mekanism:gasmask"=true

    #  [default: true]
    B:"mekanism:jetpack"=true

    #  [default: true]
    B:"mekanism:scubatank"=true

    #  [default: true]
    B:"minecraft:bow"=true

    #  [default: true]
    B:"minecraft:chainmail_boots"=true

    #  [default: true]
    B:"minecraft:chainmail_chestplate"=true

    #  [default: true]
    B:"minecraft:chainmail_helmet"=true

    #  [default: true]
    B:"minecraft:chainmail_leggings"=true

    #  [default: true]
    B:"minecraft:diamond_axe"=true

    #  [default: true]
    B:"minecraft:diamond_boots"=true

    #  [default: true]
    B:"minecraft:diamond_chestplate"=true

    #  [default: true]
    B:"minecraft:diamond_helmet"=true

    #  [default: true]
    B:"minecraft:diamond_hoe"=true

    #  [default: true]
    B:"minecraft:diamond_leggings"=true

    #  [default: true]
    B:"minecraft:diamond_pickaxe"=true

    #  [default: true]
    B:"minecraft:diamond_shovel"=true

    #  [default: true]
    B:"minecraft:diamond_sword"=true

    #  [default: true]
    B:"minecraft:golden_axe"=true

    #  [default: true]
    B:"minecraft:golden_boots"=true

    #  [default: true]
    B:"minecraft:golden_chestplate"=true

    #  [default: true]
    B:"minecraft:golden_helmet"=true

    #  [default: true]
    B:"minecraft:golden_hoe"=true

    #  [default: true]
    B:"minecraft:golden_leggings"=true

    #  [default: true]
    B:"minecraft:golden_pickaxe"=true

    #  [default: true]
    B:"minecraft:golden_shovel"=true

    #  [default: true]
    B:"minecraft:golden_sword"=true

    #  [default: true]
    B:"minecraft:iron_axe"=true

    #  [default: true]
    B:"minecraft:iron_boots"=true

    #  [default: true]
    B:"minecraft:iron_chestplate"=true

    #  [default: true]
    B:"minecraft:iron_helmet"=true

    #  [default: true]
    B:"minecraft:iron_hoe"=true

    #  [default: true]
    B:"minecraft:iron_leggings"=true

    #  [default: true]
    B:"minecraft:iron_pickaxe"=true

    #  [default: true]
    B:"minecraft:iron_shovel"=true

    #  [default: true]
    B:"minecraft:iron_sword"=true

    #  [default: true]
    B:"minecraft:leather_boots"=true

    #  [default: true]
    B:"minecraft:leather_chestplate"=true

    #  [default: true]
    B:"minecraft:leather_helmet"=true

    #  [default: true]
    B:"minecraft:leather_leggings"=true

    #  [default: true]
    B:"minecraft:stone_axe"=true

    #  [default: true]
    B:"minecraft:stone_hoe"=true

    #  [default: true]
    B:"minecraft:stone_pickaxe"=true

    #  [default: true]
    B:"minecraft:stone_shovel"=true

    #  [default: true]
    B:"minecraft:stone_sword"=true

    #  [default: true]
    B:"minecraft:wooden_axe"=true

    #  [default: true]
    B:"minecraft:wooden_hoe"=true

    #  [default: true]
    B:"minecraft:wooden_pickaxe"=true

    #  [default: true]
    B:"minecraft:wooden_shovel"=true

    #  [default: true]
    B:"minecraft:wooden_sword"=true

    #  [default: true]
    B:"quark:archaeologist_hat"=true

    #  [default: true]
    B:"quark:pirate_hat"=true

    #  [default: true]
    B:"quark:witch_hat"=true

    #  [default: true]
    B:"tconstruct:piggybackpack"=true

    #  [default: true]
    B:"tconstruct:slime_boots"=true

    #  [default: true]
    B:"techreborn:advancedchainsaw"=true

    #  [default: true]
    B:"techreborn:advanceddrill"=true

    #  [default: true]
    B:"techreborn:bronzeaxe"=true

    #  [default: true]
    B:"techreborn:bronzeboots"=true

    #  [default: true]
    B:"techreborn:bronzechestplate"=true

    #  [default: true]
    B:"techreborn:bronzehelmet"=true

    #  [default: true]
    B:"techreborn:bronzehoe"=true

    #  [default: true]
    B:"techreborn:bronzeleggings"=true

    #  [default: true]
    B:"techreborn:bronzepickaxe"=true

    #  [default: true]
    B:"techreborn:bronzespade"=true

    #  [default: true]
    B:"techreborn:bronzesword"=true

    #  [default: true]
    B:"techreborn:cloakingdevice"=true

    #  [default: true]
    B:"techreborn:diamondchainsaw"=true

    #  [default: true]
    B:"techreborn:diamonddrill"=true

    #  [default: true]
    B:"techreborn:diamondjackhammer"=true

    #  [default: true]
    B:"techreborn:ironchainsaw"=true

    #  [default: true]
    B:"techreborn:irondrill"=true

    #  [default: true]
    B:"techreborn:ironjackhammer"=true

    #  [default: true]
    B:"techreborn:lapotronpack"=true

    #  [default: true]
    B:"techreborn:lithiumbatpack"=true

    #  [default: true]
    B:"techreborn:nanosaber"=true

    #  [default: true]
    B:"techreborn:omnitool"=true

    #  [default: true]
    B:"techreborn:peridotaxe"=true

    #  [default: true]
    B:"techreborn:peridotboots"=true

    #  [default: true]
    B:"techreborn:peridotchestplate"=true

    #  [default: true]
    B:"techreborn:peridothelmet"=true

    #  [default: true]
    B:"techreborn:peridothoe"=true

    #  [default: true]
    B:"techreborn:peridotleggings"=true

    #  [default: true]
    B:"techreborn:peridotpickaxe"=true

    #  [default: true]
    B:"techreborn:peridotspade"=true

    #  [default: true]
    B:"techreborn:peridotsword"=true

    #  [default: true]
    B:"techreborn:rockcutter"=true

    #  [default: true]
    B:"techreborn:rubyaxe"=true

    #  [default: true]
    B:"techreborn:rubyboots"=true

    #  [default: true]
    B:"techreborn:rubychestplate"=true

    #  [default: true]
    B:"techreborn:rubyhelmet"=true

    #  [default: true]
    B:"techreborn:rubyhoe"=true

    #  [default: true]
    B:"techreborn:rubyleggings"=true

    #  [default: true]
    B:"techreborn:rubypickaxe"=true

    #  [default: true]
    B:"techreborn:rubyspade"=true

    #  [default: true]
    B:"techreborn:rubysword"=true

    #  [default: true]
    B:"techreborn:sapphireaxe"=true

    #  [default: true]
    B:"techreborn:sapphireboots"=true

    #  [default: true]
    B:"techreborn:sapphirechestplate"=true

    #  [default: true]
    B:"techreborn:sapphirehelmet"=true

    #  [default: true]
    B:"techreborn:sapphirehoe"=true

    #  [default: true]
    B:"techreborn:sapphireleggings"=true

    #  [default: true]
    B:"techreborn:sapphirepickaxe"=true

    #  [default: true]
    B:"techreborn:sapphirespade"=true

    #  [default: true]
    B:"techreborn:sapphiresword"=true

    #  [default: true]
    B:"techreborn:steeljackhammer"=true

    #  [default: true]
    B:"toughasnails:jelled_slime_boots"=true

    #  [default: true]
    B:"toughasnails:jelled_slime_chestplate"=true

    #  [default: true]
    B:"toughasnails:jelled_slime_helmet"=true

    #  [default: true]
    B:"toughasnails:jelled_slime_leggings"=true

    #  [default: true]
    B:"toughasnails:wool_boots"=true

    #  [default: true]
    B:"toughasnails:wool_chestplate"=true

    #  [default: true]
    B:"toughasnails:wool_helmet"=true

    #  [default: true]
    B:"toughasnails:wool_leggings"=true

    #  [default: true]
    B:"twilightforest:arctic_boots"=true

    #  [default: true]
    B:"twilightforest:arctic_chestplate"=true

    #  [default: true]
    B:"twilightforest:arctic_helmet"=true

    #  [default: true]
    B:"twilightforest:arctic_leggings"=true

    #  [default: true]
    B:"twilightforest:ender_bow"=true

    #  [default: true]
    B:"twilightforest:fiery_boots"=true

    #  [default: true]
    B:"twilightforest:fiery_chestplate"=true

    #  [default: true]
    B:"twilightforest:fiery_helmet"=true

    #  [default: true]
    B:"twilightforest:fiery_leggings"=true

    #  [default: true]
    B:"twilightforest:fiery_pickaxe"=true

    #  [default: true]
    B:"twilightforest:fiery_sword"=true

    #  [default: true]
    B:"twilightforest:giant_pickaxe"=true

    #  [default: true]
    B:"twilightforest:giant_sword"=true

    #  [default: true]
    B:"twilightforest:glass_sword"=true

    #  [default: true]
    B:"twilightforest:ice_bow"=true

    #  [default: true]
    B:"twilightforest:ice_sword"=true

    #  [default: true]
    B:"twilightforest:ironwood_axe"=true

    #  [default: true]
    B:"twilightforest:ironwood_boots"=true

    #  [default: true]
    B:"twilightforest:ironwood_chestplate"=true

    #  [default: true]
    B:"twilightforest:ironwood_helmet"=true

    #  [default: true]
    B:"twilightforest:ironwood_hoe"=true

    #  [default: true]
    B:"twilightforest:ironwood_leggings"=true

    #  [default: true]
    B:"twilightforest:ironwood_pickaxe"=true

    #  [default: true]
    B:"twilightforest:ironwood_shovel"=true

    #  [default: true]
    B:"twilightforest:ironwood_sword"=true

    #  [default: true]
    B:"twilightforest:knightmetal_axe"=true

    #  [default: true]
    B:"twilightforest:knightmetal_boots"=true

    #  [default: true]
    B:"twilightforest:knightmetal_chestplate"=true

    #  [default: true]
    B:"twilightforest:knightmetal_helmet"=true

    #  [default: true]
    B:"twilightforest:knightmetal_leggings"=true

    #  [default: true]
    B:"twilightforest:knightmetal_pickaxe"=true

    #  [default: true]
    B:"twilightforest:knightmetal_sword"=true

    #  [default: true]
    B:"twilightforest:mazebreaker_pickaxe"=true

    #  [default: true]
    B:"twilightforest:minotaur_axe"=true

    #  [default: true]
    B:"twilightforest:minotaur_axe_gold"=true

    #  [default: true]
    B:"twilightforest:naga_chestplate"=true

    #  [default: true]
    B:"twilightforest:naga_leggings"=true

    #  [default: true]
    B:"twilightforest:phantom_chestplate"=true

    #  [default: true]
    B:"twilightforest:phantom_helmet"=true

    #  [default: true]
    B:"twilightforest:seeker_bow"=true

    #  [default: true]
    B:"twilightforest:steeleaf_axe"=true

    #  [default: true]
    B:"twilightforest:steeleaf_boots"=true

    #  [default: true]
    B:"twilightforest:steeleaf_chestplate"=true

    #  [default: true]
    B:"twilightforest:steeleaf_helmet"=true

    #  [default: true]
    B:"twilightforest:steeleaf_hoe"=true

    #  [default: true]
    B:"twilightforest:steeleaf_leggings"=true

    #  [default: true]
    B:"twilightforest:steeleaf_pickaxe"=true

    #  [default: true]
    B:"twilightforest:steeleaf_shovel"=true

    #  [default: true]
    B:"twilightforest:steeleaf_sword"=true

    #  [default: true]
    B:"twilightforest:triple_bow"=true

    #  [default: true]
    B:"twilightforest:yeti_boots"=true

    #  [default: true]
    B:"twilightforest:yeti_chestplate"=true

    #  [default: true]
    B:"twilightforest:yeti_helmet"=true

    #  [default: true]
    B:"twilightforest:yeti_leggings"=true
}


disabledtypes {
    #  [default: true]
    B:axe=true

    #  [default: true]
    B:boots=true

    #  [default: true]
    B:bow=true

    #  [default: true]
    B:chestplate=true

    #  [default: true]
    B:helmet=true

    #  [default: true]
    B:hoe=true

    #  [default: true]
    B:leggings=true

    #  [default: true]
    B:pickaxe=true

    #  [default: false]
    B:shield=false

    #  [default: true]
    B:shovel=true

    #  [default: true]
    B:sword=true
}


general {
    # Should vanilla item recipes be removed? [default: true]
    B:performItemDisabling=true

    # Should vanilla tool items be effectively nullified (maximum damage set to 1)? [default: true]
    B:performItemNeutralizing=true

    # Should Tinkers' Construct items be capable of replacing vanilla equivalents in recipes? [default: true]
    B:performRecipePatchwork=true

    # Should ingredients be replaced in compatible recipes? This will primarily affect recipe guides. [default: true]
    B:performRecipeReplacement=true
}


jei {
    # Should disabled items be hidden in JEI? [default: true]
    B:hideDisabledItems=true

    # If hideDisabledItems is enabled, should recipes which take in the disabled tool as input also be disabled? (f.e. smelting) [default: false]
    B:hideInputRecipes=false

    # If hideDisabledItems is enabled, should recipes which take in the disabled tool as output also be disabled? (f.e. anvil) [default: true]
    B:hideOutputRecipes=true
}


materialmap {
    # Will match any material on this list for the head, or all materials if empty. [default: [manyullyn]]
    S:diamond <
        manyullyn
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [cobalt]]
    S:gold <
        cobalt
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [iron]]
    S:iron <
        iron
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [paper]]
    S:leather <
        paper
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [stone]]
    S:stone <
        stone
     >

    # Will match any material on this list for the head, or all materials if empty. [default: [wood]]
    S:wood <
        wood
     >
}


